body{
  margin:0;
  padding:0;
  background-color: #383838 !important;
  color:white !important;
}
.body{
  background-color: #383838;
}
.col-md-3 {
  border-right: 1px solid yellow;
  height: 100%;
}
.card-style{
  margin-top: 5rem;
}
.img{
  content: url("/images/profile.JPEG");
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.btns{
  text-align: center;
  font-size: 1.5rem;
}
.color{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.color:active{
  text-decoration: none;
  display:inline-grid;
  color:black;
  transition: 0.5s;
  background-color: #ffc107;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.main-nav-active{
  text-decoration: none;
  display:inline-grid;
  color:black;
  transition: 0.5s;
  background-color: #ffc107;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.color:hover{
  text-decoration: none;
  display:inline-grid;
  color:black;
  transition: 0.5s;
  background-color: #ffc107;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.homeDp {
  width: 15%;
  margin-top: 2rem;
}
.info {
  text-indent: 80px;
  text-align: justify;
  text-justify: inter-word;
}
.st_font{
  font-family: Poppins;
  font-weight: 300;
}
.skill{
  color: orange;
  margin-left: 5rem;
  margin-top: 5rem;
  border-bottom: 1px solid yellow;
  font-family: Poppins;
  font-weight: 300;
}
.skill-row{
  margin-top: 3rem;
}
.skill-row .margin_bottom{
  margin-bottom: 3rem;
}
.i-color{
  color:rgb(89, 177, 17);
}
.des-color{
  color: silver;
}
.Contact{
  margin-top: 7rem;
}
.btnClass{
  padding: 1rem;
}
.btnClass i {

  line-height: 10px;
  font-size: 30px;
  transition: 0.2s linear;
  color:rgb(89, 177, 17);

}
.loader_img img{
  display:flex;
  margin:auto auto auto auto;

  width:4rem;
  height:4rem;

}
